<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand display-5 text-primary mb-2"
    routerLink='home'>
    Compañía Colombiana de Organización Empresarial</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink='home' routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink='nosotros' routerLinkActive="active">Nosotros</a>
        <a class="nav-link" routerLink='servicios' routerLinkActive="active">Servicios</a>
        <a class="nav-link" routerLink='producto' routerLinkActive="active">Producto</a>
        <a class="nav-link" routerLink='clientes' routerLinkActive="active">Clientes</a>
        <a class="nav-link" routerLink='contacto' routerLinkActive="active">Contacto</a>
      </div>
    </div>
  </div>
</nav>
