nav {
  background-image: linear-gradient(to right, rgb(0 0 0 / 80%) 0%, #0d6efd 100%),url(/assets/img/LogoEmpresa.jpg) !important;
  background-position: initial;
  background-repeat: no-repeat;}

nav div a{
  color: white !important;  
  position: relative;
  left: 10rem;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link
{
  color: white;
  background-color:#65c4eb;
  background-size: 2px;
}
