<header class="masthead">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <div class="text-center my-5 animate__animated animate__zoomInDown">
                <h1 class="display-5 fw-bolder text-white mb-2">Archivar Ltda.</h1>
                <p class="lead text-white mb-4">
                  es una Compañía Colombiana con especialidad en el desarrollo e implementación de soluciones de GESTION DOCUMENTAL Y ARCHIVO, 
                  digitalización de documentos, organización de archivos, administración, capacitación, integración y 
                  manejo de bases de datos de archivo,    apoyados en herramientas de informática y tecnología, además del 
                  <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    cumplimiento de la normatividad vigente
                  </a> y quien desarrolló el Sistema Alfa para radicar, tramitar y 
                  archivar documentos en Noviembre de 1.992. Archivar Ltda., es la autora y casa desarrolladora de Alfanet®, 
                  registrado con derechos de autor como Sistema Alfa®.</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                      <a class="btn btn-outline-light btn-lg px-4"
                       routerLink="/producto" role="button" aria-expanded="false" aria-controls="about">Conoce Nuestro Producto</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">*NORMATIVIDAD VIGENTE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
Proceso de gestión documental y archivos, 
Ley 594 del 14-07-2000. Aplicación de las tablas de retención documental, 
decreto 2609 del 14-12-2012. Archivo y modelo de gestión, decreto 2578 
sistema nacional de archivos, Ley 1437 del 18-01-2011. Modelo de gestión 
pública, decreto 2482, modelo de planeación 12-12-2013
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

