<header class="masthead">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-2">Archivar Ltda.</h1>
                <p class="lead text-white mb-4">es una Compañía Colombiana con especialidad en el desarrollo e implementación de soluciones de GESTION DOCUMENTAL Y ARCHIVO, digitalización de documentos, organización de archivos, administración, capacitación, integración y manejo de bases de datos de archivo,    apoyados en herramientas de informática y tecnología, además del cumplimiento de la normatividad vigente y quien desarrolló el Sistema Alfa para radicar, tramitar y archivar documentos en Noviembre de 1.992. Archivar Ltda., es la autora y casa desarrolladora de Alfanet®, registrado con derechos de autor como Sistema Alfa®.</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                      <a class="btn btn-outline-light btn-lg px-4"
                       routerLink="/servicios" role="button" aria-expanded="false" aria-controls="about">Conoce Nuestros Servicios</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

