<div class="card-group row gx-5 justify-content-center" id="servicios">
  <section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1 text-white">Nuestros Servicios</h5>
        <div class="row">
            <!-- tarjeta -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Alfanet plus 2.0.</h4>
                                    <p class="card-text"> más que un software es una solución Alfanet plus 2.0. más que un
                                      software es una solución
                                      integral para el manejo del
                                      proceso de gestión
                                      documental automatizado,
                                      la cual maneja un concepto
                                      único, que lo hace diferente.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">ALFANET plus 2.0 es un sistema de gestión documental
                                      automatizada con administración y manejo de PQR (Peticiones,
                                      quejas y reclamos) desde el portal web, articulación con otros
                                      sistemas TI. CMS (content management system) sistema de
                                      gestión de contenidos, plantillas dinámicas, oficina digital,
                                      aplicación de política cero papel, expediente electrónico.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./tarjeta -->
            <!-- tarjeta -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">OTROS SERVICIOS</h4>
                                    <ul class="card-text">
                                      <li>ELABORACIÓN TABLAS DE
                                        RETENCION DOCUMENTAL </li>
                                        <li>ELABORACIÓN TABLAS DE
                                          VALORACIÓN DOCUMENTAL</li>
                                        <li> DIGITALIZACIÓN DE DOCUMENTOS
                                             PROYECTO DE GESTIÓN
                                            DOCUMENTAL Y ARCHIVO </li>

                                    </ul>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">OTROS SERVICIOS</h4>
                                    <ul class="card-text">
                                      <li>PROGRAMA DE CAPACITACIÓN</li>
                                      <li>SERVICIO DE TERCERIZACIÓN O
                                        OUTSOURCING, INCLUYENDO
                                        SOPORTE LÓGICO, FÍSICO Y
                                        HUMANO </li>
                                        <li>ORGANIZACIÓN DE ARCHIVOS
                                          FÍSICOS Y VIRTUALES</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./tarjeta -->
            <!-- tarjeta -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">GARANTÍA DE ÉXITO</h4>
                                    <p class="card-text">ARCHIVAR LTDA OFRECE SOLUCIONES
                                      ESPECIALIZADAS, QUE GARANTIZAN
                                      LA APLICABILIDAD DE LA
                                      NORMATIVIDAD VIGENTE*</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">NUESTROS 35 AÑOS DE EXPERIENCIA Y
                                      180 PROYECTOS IMPLEMENTADOS SON
                                      NUESTRA MEJOR GARANTÍA DE ÉXITO
                                      SOMOS EXPERTOS EN DISEÑO,
                                      ANÁLISIS E IMPLEMENTACIÓN DE
                                      PROYECTOS
                                      MIGRAMOS SU INFORMACIÓN DESDE
                                      OTROS APLICATIVOS.
                                      .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./tarjeta -->
        </div>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          <a class="btn btn-outline-light btn-lg px-4"
          routerLink="/producto" role="button" aria-expanded="false" aria-controls="about">Conoce Nuestro Producto</a>
        </div>
    </div>
  </section>
</div>





