<div class="card-group row gx-5 text-justify text-uppercase" id="servicios">
  <section class="pb-5">
   <app-header></app-header>
  </section>
  <section id="boxes">
    <div class="container-fluid">
      <div class="box">
        <h3>GESTIÓN DOCUMENTAL</h3>
        <p>Diseño, análisis e implementación de sistemas de gestión documental automatizados de acuerdo a las normas vigentes.
          *Acuerdo 060 y ley 594 del 14 de julio del 2000. Archivo general de la nación.
        </p>
      </div>
      <div class="box">
        <h3>SOLUCIONES INFORMATICAS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
      </div>
      <div class="box">
        <h3>SISTEMAS ALFA®</h3>
        <p>Somos desarrolladores de los sistemas alfa® para la administración y automatización del proceso de gestión documental automatizado
        </p>
      </div>
    </div>
  </section>
</div>





