<section class="card-group row gx-5 text-justify text-uppercase py-5 border-bottom" id="alfa">
  <div class="pb-5">
   <app-card></app-card>
   </div>
</section>
<section class="card-group row gx-5 text-justify text-uppercase py-5 border-bottom" id="boxes">
    <div class="container-fluid px-5">
      <div class="row flex-container">
        <div class="box col-xs-12 col-sm-6 col-md-4">
          <h3>GESTIÓN DOCUMENTAL</h3>
          <p>Diseño, análisis e implementación de sistemas de gestión documental automatizados de acuerdo a las normas vigentes.
            *Acuerdo 060 y ley 594 del 14 de julio del 2000. Archivo general de la nación.
          </p>
        </div>
        <div class="box col-xs-12 col-sm-6 col-md-4">
          <h3>SOLUCIONES INFORMATICAS</h3>
          <p>
            Suministramos soluciones confiables, seguras y experimentadas con herramientas de informática para el manejo de sus documentos y archivos</p>
        </div> 
        <div class="box col-xs-12 col-sm-6 col-md-4">
          <h3>SISTEMAS ALFA®</h3>
          <p>Somos desarrolladores de los sistemas alfa® para la administración y automatización del proceso de gestión documental automatizado
          </p>
        </div>
      </div>
      </div>
</section>





