<header class="py-5 border-bottom" id="producto">
  <div class="container px-5 my-5">
      <div class="row gx alfa">
          <div class="col-lg mb-5 mb-lg-0">
              <h2 class="display-5 fw-bolder text-white mb-2">AlfaNet Plus</h2>
              <p class="lead text-white mb-4">más que un software es una solución integral para el manejo del proceso de gestión documental automatizado, la cual maneja un concepto único, que lo hace diferente.
                </p>

                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                  <a class="btn btn-outline-light btn-lg px-4"
                   routerLink="/servicios" role="button" aria-expanded="false" aria-controls="about">Mas Sobre AlfaNet</a>
              </div>
          </div>
      </div>
      <video autoplay muted type="video/mp4"  src="../../../assets/Video_Alfanet.mp4"></video>
      <div class="capa"></div>
    </div>

  </header>

