<header class="masthead" id="producto" autofocus>
  <div class="container-fluid py-5">

    <div class="row gx-5 text-justify">
      <div class="col-lg">
        <div class="text-center my-5 animate__animated animate__zoomInDown">
          <h1 class="display-5 fw-bolder text-primary mb-2">¡Conoce Nuestro Producto!</h1>
          <p class="lead text-primary mb-4 text-justify">
            El sistema Alfa® se concibió como un desarrollo lógico que permite radicar documentos recibidos, registrar
            documentos enviados, realizar trámites, gestión, archivo y consulta. Lejos estaban sus desarrolladores de
            imaginarse que mediante la ley 594 del 14 de julio de 2000 se aprobaba en colombia la obligatoriedad de
            adelantar en las entidades del estado el proyecto de GESTIÓN DOCUMENTAL, el cual comprende básicamente, los
            principios conceptuales sobre los cuales fue desarrollado el sistema Alfa®. Inicialmente desarrollado en
            Cobol, luego en Fox Pro I, FoxPro 2, Visual Basic, Informix, Oracle, Web y Actualmente en tecnología .Net,
            el sistema Alfa ha mantenido intacto durante todo el tiempo su principio conceptual “ser la secuencia lógica
            de un proceso de administración de documentos y archivo”, sin que esto signifique dejar de lado los avances
            tecnológicos. Es por esto, sus desarrolladores convencidos de la importancia que representa la
            administración, control y conservación de los documentos fuente de información básica para transmitir
            conocimiento, presentan mediante este manual una herramienta informática al usuario; teniendo en cuenta que
            Alfanet “Más que un software es una solución integrada para el manejo de información soportada en documentos
            o registros”. Teniendo en cuenta que sus cualidades entre las cuales se enumeran el ser Única, Fácil,
            Sencilla, Amigable, y Madura; además de ser un sistema integrado, cuyo proceso es secuencial y lógico razón
            por la cual se recomienda el empleo total y no individual de sus módulos, salvo casos excepcionales.</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-outline-primary btn-lg px-4" routerLink="/servicios" fragment="alfa" role="button"
              aria-expanded="false" aria-controls="about">Acerca de Nuestros Servicios</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
