<header class="masthead" id="home">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-2 animate__animated animate__zoomIn">Somos Gestion Documental</h1>
                <p class="lead text-white mb-4 animate__animated animate__zoomIn">
                  ARCHIVAR LTDA, Compañía Colombiana de organización empresarial, presenta su  sistema de Gestión  Documental Automatizada, alfanet plus 2.0
                </p>
              
          </div>
      </div>
      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <a class="btn btn-outline-light btn-lg px-4" routerLink="/nosotros" role="button" aria-expanded="false" aria-controls="about">Acerca de Nosotros</a>
    </div>
</div>
  </div>
</header>



