<header class="masthead" id="contacto" autofocus>
  <div class="container-fluid py-5">
      <div class="row gx-5 text-justify">
        <div class="col-lg">
          <div class="text-center my-5 animate__animated animate__zoomInDown"> 
            <h2 class="display-5 fw-bolder text-primary mb-2">Contacta con Nosotros</h2>
            <input hidden [(ngModel)]="mensajeForm" value="{{mensajeForm}}"/>
            <p class="lead text-primary mb-4">{{mensajeForm}}</p>
            </div>
          </div>
        </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <form id="contactForm" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
                <div class="form-floating mb-3">
                    <input class="form-control" id="asunto" name="subject" formControlName="asunto" type="text" placeholder="Ingresa Tu Nombre..." required/>
                    <label for="name">Asunto</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="name" name="name" formControlName="name" type="text" placeholder="Ingresa Tu Nombre..." required/>
                    <label for="name">Nombre Completo</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="email" id="email" name="email" formControlName="email" placeholder="Ingresa Tu Direccion de Correo Electronico..." required/>
                    <label for="name">Correo Electronico</label>
                </div>

                <div class="form-floating mb-3">
                      <textarea class="form-control" id="message" name="message" formControlName="message" type="text" placeholder="Ingresa tu Mensaje Aqui..." style="height: 10rem" required></textarea>
                      <label for="message">Message</label>
                  </div>
                <input type="submit" class="btn btn-primary"/>
                </form>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mt-5">
                        <a class="btn btn-outline-primary btn-lg px-4"
                        routerLink="home" role="button" aria-expanded="false" aria-controls="about"> Regresar al Inicio </a>
                    </div>
            </div>
        </div>
    </div>
  </header>
