<header class="masthead" id="clientes" autofocus>
  <div class="container-fluid py-5">
    <div class="row gx-5 text-justify">
      <div class="col-lg">
        <div class="text-center my-5 animate__animated animate__zoomInDown">
          <h2 class="display-5 fw-bolder text-primary mb-2">Algunos de Nuestros Clientes</h2>
        </div>
      </div>
    </div>
    <div class="row gx-5 text-justify">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/1280px-Minhacienda_Colombia.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ministerio de Hacienda</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/Ecopetrol.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ecopetrol</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/Logo_MINTIC.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ministerio Tecnologias de la Informacion</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/minminas.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Ministerio Minas y Energia</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mt-5">
          <a class="btn btn-outline-primary btn-lg px-4"
           routerLink="/contacto" role="button" aria-expanded="false" aria-controls="about">¡ Contactanos !</a>
      </div>
    </div>
  </div>
</header>


