<section class="bg-light py-5" id="clientes">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <h2 class="display-5 fw-bolder text-white mb-2">Algunos de Nuestros Clientes</h2>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <img src="../../../assets/img/Ministerio-de-Hacienda.png" alt="" width="300">
            </div>
              <div class="ms-4">
                <div class="small text-muted">Ministerio de Hacienda</div>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <img src="../../../assets/img/logo-min-minas.png" alt="" width="300">
            </div>
            <div class="ms-4">
              <div class="small text-muted">Ministerio de Minas</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <img src="../../../assets/img/logo-MinTic-Colombia.webp" alt="" width="300">
            </div>
            <div class="ms-4">
              <div class="small text-muted">Ministerio de TICs</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <img src="../../../assets/img/Ecopetrol.png" alt="" width="300">
            </div>
              <div class="ms-4">
              <div class="small text-muted">Ecopetrol</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>